h1 {
    background-color: black;
}

#my {
    color: white;
}

#cloud{
    color: #34ebe8;
}

h2 {
    background-color: #9c34eb;
    text-align: center; 
    color: white;
}

p {
    background-color: #34b1eb; 
    text-decoration: underline;
    color: #e534eb;
    text-align: right;
}